.box {
  border-radius: 5px;
  height: fit-content;

  min-width: 7rem;
  background-color: rgb(138, 166, 190);
  margin: 10px;
  box-shadow: 5px 10px 10px black;
}

.box:hover {
  background-color: rgb(17, 95, 146);
}

.box p:nth-child(1) {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.box p:nth-child(3) {
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
.box p:nth-child(4) {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(65, 57, 57);
}

.image {
  display: flex;
  justify-content: center;
}
