

header {
  text-align: center;
  font-family: "Cairo";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  line-height:2
}

h1 {
  background-image: url(https://media1.giphy.com/media/xTiQyjjxLwrcJjcoko/giphy.gif?cid=ecf05e4736390ap6vdgz498pn3nx31gg254n37ixtfydye5g&rid=giphy.gif&ct=g);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 80px;
  margin: 10px 0;
}
