body {
  margin: 0;
  height: 100vh;
  margin: 0; 
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #daf6f6;
  background: -webkit-linear-gradient(49deg, #daf6f6 0%, #3e59f5 100%);
  background: linear-gradient(49deg, #daf6f6 0%, #3e59f5 100%);
}

